.photo-grid{
  max-width: 1184px;
  margin: auto;
  margin-top: 92px;
  padding: 0 48px 0 48px;
}
@media screen and (max-width: 800px) {
  .photo-grid{
    margin-top: 88px;
    padding: 0 24px 0 24px;
  }
}
@media screen and (max-width: 340px) {
  .photo-grid{
    margin-top: 64px;
    padding: 0 16px 0 16px;
  }
}