.places{
  max-width: 984px;
  margin: auto;
  margin-top: 92px;
  padding: 0 48px 0 48px;
  display: grid;
  align-content: flex-start;
  grid-template-columns: 1fr;
  gap: 80px;
}
@media screen and (max-width: 800px) {
    /* стили для планшета */
  .places{
    margin-top: 88px;
    padding: 0 24px 0 24px;
    gap: 73px;
  }
}
@media screen and (max-width: 340px) {
    /* стили для смартфона */
  .places{
    margin-top: 64px;
    padding: 0;
    gap: 50px;
  }
}