.places__link{
  margin: 0;
  margin-top: 12px;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: white;
}
.places__link:hover{
  cursor: pointer;
}