.cover__subtitle{
  margin: 0 auto;
  margin-top: 32px;
  padding: 0;
  max-width: 360px;
  min-width: 288px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  z-index: 1;
}