.header__logo{
  max-width: 176px;
  min-width: 142px;
  max-height: 52px;
  min-height: 42px;
  object-fit: contain;
}
@media screen and (max-width: 320px) {
  /* стили для смартфона */
  .header__logo{
    max-width: 142px;
    max-height: 42px;
  }
}