.lead__image-container{
  margin: 0;
  margin-top: 64px;
  max-width: 984px;
  min-width: 320px;
  align-self: stretch;
}
@media screen and (max-width: 1024px) {
    /* стили для смартфона */
  .lead__image-container{
    margin-top: 56px;
  }
}
@media screen and (max-width: 320px) {
    /* стили для смартфона */
  .lead__image-container{
    margin-top: 40px;
  }
}