.lead__subtitle{
  padding: 0;
  margin: 0 auto;
  margin-top: 32px;
  max-width: 640px;
  max-height: 72px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: white;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    /* промежуточные стили*/
  .lead__subtitle{
    font-size: 4vw;
    line-height: 4.6vw;
  }
}
@media screen and (max-width: 320px) {
    /* стили для смартфона */
  .lead__subtitle{
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
    width: 288px;
    height: 40px;
  }
}