.cover__background{
  position: relative;
  max-width: 1184px;
  width: 100%;
  height: calc(100vw/1.6); /*Расчёт высоты блока через соотношение сторон фона*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.cover__background:hover{
  cursor: pointer;
}
@media screen and (min-width: 1026px) {
  .cover{
    height: calc(100vw/1.735); /*Расчёт высоты блока через соотношение сторон фона + padding*/
  }
}