.places__url-heading{
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #AAAAAA;
}